@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap');

@layer base {
  .light-mode {
    --background-color: #f3f4f6;
    --foreground-color: #1f2937;
    --card-background-color: #ffffff;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --font-family: 'Roboto', sans-serif;
  }
  
  .dark-mode {
    --background-color: #111827;
    --foreground-color: #f3f4f6;
    --card-background-color: #1f2937;
    --shadow-color: rgba(0, 0, 0, 0.3);
    --border-color: rgba(255, 255, 255, 0.1);
    --font-family: 'Poppins', sans-serif;
  }
  
  body.light-mode {
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-family: var(--font-family);
  }
  
  body.dark-mode {
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-family: var(--font-family);
  }
  
  .glass-card {
    backdrop-filter: blur(10px);
    border: 1px solid var(--border-color);
    background-color: var(--card-background-color);
    box-shadow: 0 4px 12px var(--shadow-color);
  }
}

@layer components {
  .form-input {
    @apply bg-white dark:bg-gray-700 text-gray-900 dark:text-white p-2 rounded-lg w-full;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: 'Roboto, sans-serif';
  }

  .button {
    @apply py-2 px-4 rounded font-semibold text-white transition;
    font-family: 'Poppins, sans-serif';
  }
}